In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import math

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv("drive/MyDrive/Bakerysales.csv")

In [ ]:
df.head()

,Unnamed: 0,date,time,ticket_number,article,Quantity,unit_price
0,0,2021-01-02,08:38,150040.0,BAGUETTE,1.0,"0,90 €"
1,1,2021-01-02,08:38,150040.0,PAIN AU CHOCOLAT,3.0,"1,20 €"
2,4,2021-01-02,09:14,150041.0,PAIN AU CHOCOLAT,2.0,"1,20 €"
3,5,2021-01-02,09:14,150041.0,PAIN,1.0,"1,15 €"
4,8,2021-01-02,09:25,150042.0,TRADITIONAL BAGUETTE,5.0,"1,20 €"

In [ ]:
df.shape
df.describe()

          Unnamed: 0  ticket_number       Quantity
count  234005.000000  234005.000000  234005.000000
mean   255205.035854  219201.258738       1.538377
std    147501.625992   40053.223896       1.289603
min         0.000000  150040.000000    -200.000000
25%    127979.000000  184754.000000       1.000000
50%    254573.000000  218807.000000       1.000000
75%    382911.000000  253927.000000       2.000000
max    511395.000000  288913.000000     200.000000

In [ ]:
df.columns

Index(['Unnamed: 0', 'date', 'time', 'ticket_number', 'article', 'Quantity',
       'unit_price'],
      dtype='object')

In [ ]:
df2=df.drop(["Unnamed: 0","time","ticket_number","Quantity","unit_price"],axis=1)
df2

              date               article
0       2021-01-02              BAGUETTE
1       2021-01-02      PAIN AU CHOCOLAT
2       2021-01-02      PAIN AU CHOCOLAT
3       2021-01-02                  PAIN
4       2021-01-02  TRADITIONAL BAGUETTE
...            ...                   ...
234000  2022-09-30                 COUPE
234001  2022-09-30            BOULE 200G
234002  2022-09-30                 COUPE
234003  2022-09-30  TRADITIONAL BAGUETTE
234004  2022-09-30  TRADITIONAL BAGUETTE

[234005 rows x 2 columns]

In [ ]:
df2.isnull().sum()

date       0
article    0
dtype: int64

In [ ]:
df2["Bulan"]=df2["date"].str[5:7]
df2["Bulan"]=df2["Bulan"].astype("int32")
df2

              date               article  Bulan
0       2021-01-02              BAGUETTE      1
1       2021-01-02      PAIN AU CHOCOLAT      1
2       2021-01-02      PAIN AU CHOCOLAT      1
3       2021-01-02                  PAIN      1
4       2021-01-02  TRADITIONAL BAGUETTE      1
...            ...                   ...    ...
234000  2022-09-30                 COUPE      9
234001  2022-09-30            BOULE 200G      9
234002  2022-09-30                 COUPE      9
234003  2022-09-30  TRADITIONAL BAGUETTE      9
234004  2022-09-30  TRADITIONAL BAGUETTE      9

[234005 rows x 3 columns]

In [ ]:
df2["date"] = pd.to_datetime(df2["date"])
df2

             date               article  Bulan
0      2021-01-02              BAGUETTE      1
1      2021-01-02      PAIN AU CHOCOLAT      1
2      2021-01-02      PAIN AU CHOCOLAT      1
3      2021-01-02                  PAIN      1
4      2021-01-02  TRADITIONAL BAGUETTE      1
...           ...                   ...    ...
234000 2022-09-30                 COUPE      9
234001 2022-09-30            BOULE 200G      9
234002 2022-09-30                 COUPE      9
234003 2022-09-30  TRADITIONAL BAGUETTE      9
234004 2022-09-30  TRADITIONAL BAGUETTE      9

[234005 rows x 3 columns]

In [ ]:
df2["Tahun"]=df2["date"].dt.year
df2

             date               article  Bulan  Tahun
0      2021-01-02              BAGUETTE      1   2021
1      2021-01-02      PAIN AU CHOCOLAT      1   2021
2      2021-01-02      PAIN AU CHOCOLAT      1   2021
3      2021-01-02                  PAIN      1   2021
4      2021-01-02  TRADITIONAL BAGUETTE      1   2021
...           ...                   ...    ...    ...
234000 2022-09-30                 COUPE      9   2022
234001 2022-09-30            BOULE 200G      9   2022
234002 2022-09-30                 COUPE      9   2022
234003 2022-09-30  TRADITIONAL BAGUETTE      9   2022
234004 2022-09-30  TRADITIONAL BAGUETTE      9   2022

[234005 rows x 4 columns]

In [ ]:
#data Pemesanan tiap tahun
df = df2.groupby(["Tahun","Bulan"]).count()
df = df[["date"]]
df

              date
Tahun Bulan
2021  1       6562
      2       7817
      3       9235
      4      10891
      5      12220
      6      10856
      7      17593
      8      20344
      9      10208
      10      9861
      11      7942
      12      7891
2022  1       6273
      2       7795
      3       8251
      4      10128
      5      11866
      6      10678
      7      18242
      8      20135
      9       9217

In [ ]:
df.rename(columns = {'date':'sales'}, inplace = True)

In [ ]:
df.reset_index(inplace=True)
df

    Tahun  Bulan  sales
0    2021      1   6562
1    2021      2   7817
2    2021      3   9235
3    2021      4  10891
4    2021      5  12220
5    2021      6  10856
6    2021      7  17593
7    2021      8  20344
8    2021      9  10208
9    2021     10   9861
10   2021     11   7942
11   2021     12   7891
12   2022      1   6273
13   2022      2   7795
14   2022      3   8251
15   2022      4  10128
16   2022      5  11866
17   2022      6  10678
18   2022      7  18242
19   2022      8  20135
20   2022      9   9217

In [ ]:
#Mencari nilai Q1 dan Q3
q1 = df["sales"].quantile(0.25)
q3 = df["sales"].quantile(0.75)

print("kuartil bawah : ",q1)
print("kuartil atas : ",q3)

kuartil bawah :  7942.0
kuartil atas :  11866.0

In [ ]:
Ket = []
for row in df["sales"]:
  if row > q3 :    Ket.append('Tinggi') #sales di atas q3 dikelompokan sebagai tinggi
  elif row < q1 :    Ket.append('Rendah') #sales di atas q3 dikelompokan sebagai Rendah
  else: Ket.append('Sedang') #sales di atas q3 dikelompokan sebagai Sedang

In [ ]:
df["Keterangan"]=Ket
df

    Tahun  Bulan  sales Keterangan
0    2021      1   6562     Rendah
1    2021      2   7817     Rendah
2    2021      3   9235     Sedang
3    2021      4  10891     Sedang
4    2021      5  12220     Tinggi
5    2021      6  10856     Sedang
6    2021      7  17593     Tinggi
7    2021      8  20344     Tinggi
8    2021      9  10208     Sedang
9    2021     10   9861     Sedang
10   2021     11   7942     Sedang
11   2021     12   7891     Rendah
12   2022      1   6273     Rendah
13   2022      2   7795     Rendah
14   2022      3   8251     Sedang
15   2022      4  10128     Sedang
16   2022      5  11866     Sedang
17   2022      6  10678     Sedang
18   2022      7  18242     Tinggi
19   2022      8  20135     Tinggi
20   2022      9   9217     Sedang

In [ ]:
d = {1:"January",2:"February",3:"March",4:"April",5:"May",6:"June",7:"July",
    8:"August",9:"September",10:"October",11:"November",12:"December"}
df["Bulan"]=[d[i] for i in df["Bulan"]]
df

    Tahun      Bulan  sales Keterangan
0    2021    January   6562     Rendah
1    2021   February   7817     Rendah
2    2021      March   9235     Sedang
3    2021      April  10891     Sedang
4    2021        May  12220     Tinggi
5    2021       June  10856     Sedang
6    2021       July  17593     Tinggi
7    2021     August  20344     Tinggi
8    2021  September  10208     Sedang
9    2021    October   9861     Sedang
10   2021   November   7942     Sedang
11   2021   December   7891     Rendah
12   2022    January   6273     Rendah
13   2022   February   7795     Rendah
14   2022      March   8251     Sedang
15   2022      April  10128     Sedang
16   2022        May  11866     Sedang
17   2022       June  10678     Sedang
18   2022       July  18242     Tinggi
19   2022     August  20135     Tinggi
20   2022  September   9217     Sedang

In [ ]:
df=df.drop(["Tahun","sales"], axis=1)
df

        Bulan Keterangan
0     January     Rendah
1    February     Rendah
2       March     Sedang
3       April     Sedang
4         May     Tinggi
5        June     Sedang
6        July     Tinggi
7      August     Tinggi
8   September     Sedang
9     October     Sedang
10   November     Sedang
11   December     Rendah
12    January     Rendah
13   February     Rendah
14      March     Sedang
15      April     Sedang
16        May     Sedang
17       June     Sedang
18       July     Tinggi
19     August     Tinggi
20  September     Sedang

In [ ]:
#Menampilkan jumlah tiap kategori dalam bulan
d = df.groupby(["Keterangan"]).count()
d

            Bulan
Keterangan
Rendah          5
Sedang         11
Tinggi          5

In [ ]:
def accuracy_score(y_true, y_pred):

	"""	score = (y_true - y_pred) / len(y_true) """

	return round(float(sum(y_pred == y_true))/float(len(y_true)) * 100 ,2)

def pre_processing(df):

	""" partioning data into features and target """

	X = df.drop(["Keterangan"], axis = 1)
	y = df["Keterangan"]

	return X, y

def train_test_split(x, y, test_size = 0.25, random_state = None):

	""" partioning the data into train and test sets """

	x_test = x.sample(frac = test_size, random_state = random_state)
	y_test = y[x_test.index]

	x_train = x.drop(x_test.index)
	y_train = y.drop(y_test.index)

	return x_train, x_test, y_train, y_test




class  NaiveBayes:

	"""
		Bayes Theorem:
										Likelihood * Class prior probability
				Posterior Probability = -------------------------------------
											Predictor prior probability
				
							  			 P(x|c) * p(c)
							   P(c|x) = ------------------ 
											  P(x)
	"""

	def __init__(self):

		"""
			Attributes:
				likelihoods: Likelihood of each feature per class
				class_priors: Prior probabilities of classes 
				pred_priors: Prior probabilities of features 
				features: All features of dataset
		"""
		self.features = list
		self.likelihoods = {}
		self.class_priors = {}
		self.pred_priors = {}

		self.X_train = np.array
		self.y_train = np.array
		self.train_size = int
		self.num_feats = int

	def fit(self, X, y):

		self.features = list(X.columns)
		self.X_train = X
		self.y_train = y
		self.train_size = X.shape[0]
		self.num_feats = X.shape[1]

		for feature in self.features:
			self.likelihoods[feature] = {}
			self.pred_priors[feature] = {}

			for feat_val in np.unique(self.X_train[feature]):
				self.pred_priors[feature].update({feat_val: 0})

				for outcome in np.unique(self.y_train):
					self.likelihoods[feature].update({feat_val+'_'+outcome:0})
					self.class_priors.update({outcome: 0})


		self._calc_class_prior()
		self._calc_likelihoods()
		self._calc_predictor_prior()

		# print(self.likelihoods)
		# print(self.class_priors)
		# print(self.pred_priors)

	def _calc_class_prior(self):

		""" P(c) - Prior Class Probability """

		for outcome in np.unique(self.y_train):
			outcome_count = sum(self.y_train == outcome)
			self.class_priors[outcome] = outcome_count / self.train_size
			#jumlah "klasifikasi" / total jumlah

	def _calc_likelihoods(self):

		""" P(x|c) - Likelihood """

		for feature in self.features:

			for outcome in np.unique(self.y_train): #nilai ket
				outcome_count = sum(self.y_train == outcome) #jumlahkan yang sama
				feat_likelihood = self.X_train[feature][self.y_train[self.y_train == 
				outcome].index.values.tolist()].value_counts().to_dict()
				#(bulan)(ket(ket yang sama))
				for feat_val, count in feat_likelihood.items():
					self.likelihoods[feature][feat_val + '_' + outcome] = count/outcome_count


	def _calc_predictor_prior(self):

		""" P(x) - Evidence """

		for feature in self.features:
			feat_vals = self.X_train[feature].value_counts().to_dict()

			for feat_val, count in feat_vals.items():
				self.pred_priors[feature][feat_val] = count/self.train_size


	def predict(self, X):

		""" Calculates Posterior probability P(c|x) """

		results = []
		X = np.array(X)

		for query in X:
			probs_outcome = {}
			for outcome in np.unique(self.y_train):
				prior = self.class_priors[outcome]
				likelihood = 1
				evidence = 1

				for feat, feat_val in zip(self.features, query):
					likelihood *= self.likelihoods[feat][feat_val + '_' + outcome]
					evidence *= self.pred_priors[feat][feat_val]

				posterior = (likelihood * prior) / (evidence)

				probs_outcome[outcome] = posterior

			result = max(probs_outcome, key = lambda x: probs_outcome[x])
			results.append(result)

		return np.array(results)

			

if __name__ == "__main__":

	#Weather Dataset
	print("Prediksi tingkat Penjualan")

	df = df
	#print(df)

	#Split fearures and target
	X,y  = pre_processing(df)

	#Split data into Training and Testing Sets
	X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state = 0)

	nb_clf = NaiveBayes()
	nb_clf.fit(X_train, y_train)

	print("\nTrain Accuracy: {}".format(accuracy_score(y_train, nb_clf.predict(X_train))))
	print("Test Accuracy: {}".format(accuracy_score(y_test, nb_clf.predict(X_test))))
 
	#Query 1:
	query = np.array([["January"]])
	print("\nBulan: {} ---> {}".format(query, nb_clf.predict(query)))
 
 	#Query 2:
	query = np.array([["July"]])
	print("Bulan: {} ---> {}".format(query, nb_clf.predict(query)))

 	#Query 1:
	query = np.array([["June"]])
	print("Bulan: {} ---> {}".format(query, nb_clf.predict(query)))

Prediksi tingkat Penjualan

Train Accuracy: 94.74
Test Accuracy: 100.0

Bulan: [['January']] ---> ['Rendah']
Bulan: [['July']] ---> ['Tinggi']
Bulan: [['June']] ---> ['Sedang']